[submodule "submodules/agg"]
	path = submodules/agg
	url = https://github.com/tomhughes/agg
	branch = 2.4
[submodule "submodules/libopencm3"]
	path = submodules/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "submodules/freetype2"]
	path = submodules/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
